.about-h3 {
    font-size: 2.3rem;
}

.about-index, .about-content p {
    font-size: 1.4rem;
}

.about {
    font-family: 'HiraginoSans', sans-serif;
}

@-webkit-keyframes scrollEf {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 47%;
    }
}

@keyframes scrollEf {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 47%;
    }
}

.libary-css img {
    width: auto;
    max-width: 100%;
    display: block;
}

.libary-css a {
    color: inherit;
    display: block;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.libary-css a:hover {
    opacity: .8;
}

.libary-css button {
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.libary-css button, .libary-css a, .libary-css input {
    outline: none;
}

.libary-css .d-block {
    display: block;
}

.libary-css .bg-white {
    z-index: 3;
    position: relative;
}

.libary-css .bg-white::after {
    content: '';
    z-index: -1;
    background-color: white;
    top: 0;
    bottom: -2px;
    right: 0;
    left: 0;
    position: absolute;
}

.hero {
    margin-bottom: 80px;
}

/* .about-lineHead {
    padding-bottom: 120px;
    border-bottom: 1px solid #e6e6e6;
} */

.about-lineHead p {
    max-width: 815px;
    line-height: 2;
    margin: 0 auto;
    font-weight: bold;
}

.about-lists {
    margin-top: 136px;
}

.about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about-list:not(:last-of-type) {
    margin-bottom: 140px;
}

.about-list:nth-child(1) .about-imgBg-wrap {
    max-width: 330px;
}

.about-list:nth-child(2) .about-imgBg-wrap {
    max-width: 461px;
}

.about-list:nth-child(3) .about-imgBg-wrap {
    max-width: 428px;
}

.about-list:nth-child(4) .about-imgBg-wrap {
    max-width: 442px;
}

.about-list:nth-child(5) .about-imgBg-wrap {
    max-width: 497px;
}

.about-list:nth-child(6) .about-imgBg-wrap {
    max-width: 393px;
}

.about-list:nth-child(7) .about-imgBg-wrap {
    max-width: 428px;
}

.about-list:nth-child(8) .about-imgBg-wrap {
    max-width: 426px;
}

.about-list.even .about-inner:first-child {
    z-index: 1;
}

.about-list.trigger .about-inner {
    max-width: 100% !important;
    display: block;
}

.about-list.trigger .about-img, .about-list.trigger .about-title,
.about-list.trigger .about-content, .about-list.trigger .about-img,
.about-list.trigger .about-line {
    max-width: 544px;
    margin-right: auto;
    margin-left: auto;
}

.about-list.trigger .about-line::after {
    right: auto !important;
    width: 100vw !important;
    left: calc((100% - 100vw)/2) !important;
}

.about-list.trigger.odd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
}

.about-list.trigger.odd .about-inner:first-of-type {
    margin-top: 25px;
}

.about-list.trigger.even .about-inner:last-of-type {
    margin-top: 20px;
}

.about-inner {
    max-width: calc(50% - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    position: relative;
}

.about-inner:first-child {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.about-inner:first-child .about-line::after {
    left: calc(100% - 50vw);
}

.about-inner:last-child {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.about-inner:last-child .about-line::after {
    right: calc(100% - 50vw);
}

.about-title, .about-content, .about-img, .about-line {
    max-width: 544px;
    width: 100%;
}

.about-index {
    line-height: 2.3rem;
    text-align: center;
    display: block;
    width: 82px;
    background-color: black;
    color: #72d1ff;
    font-family: 'Sen', sans-serif;
}

.about-index strong {
    margin-left: 5px;
}

.about-h3 {
    line-height: 2;
    margin: 30px 0 25px;
}

.about-content {
    margin-top: 40px;
}

.about-content p {
    line-height: 2;
    letter-spacing: .06rem;
}

.about-imgBg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px;
}

.about-imgBg-wrap {
    width: 80%;
}

.about-line {
    height: 1px;
    position: relative;
    z-index: 0;
}

.about-line::after, .about-line::before {
    content: '';
    top: 0;
    position: absolute;
}

.about-line::after {
    height: 1px;
    width: calc(50vw + 80px);
    background-color: #e6e6e6;
    z-index: -1;
}

.about-line::before {
    height: 2px;
    z-index: 1;
    left: 0;
    width: 19px;
    background-color: #008fd4;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .about-h3 {
        font-size: 1.8rem;
    }
    .about-index, .about-content p {
        font-size: 1.3rem;
    }
    .hero {
        margin-bottom: 50px;
    }
    /* .about-lineHead {
        padding-bottom: 60px;
    } */
    .about-lists {
        margin-top: 70px;
    }
    .about-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .about-list:not(:last-of-type) {
        margin-bottom: 70px;
    }
    .about-inner {
        min-width: min(344px, calc(100vw - 40px));
    }
    .about-h3 {
        line-height: 1.6;
        margin: 15px 0 20px;
    }
    .about-content {
        margin-top: 20px;
    }
}

/*# sourceMappingURL=sourcemap/about.css.map */
