.c-listpost01 dl {
  display: flex;
  background: #fff;
  padding: 20px 32px 18px 32px;
  margin-bottom: 5px;
}
.c-listpost01 dt {
  color: #7C7C7C;
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
  line-height: 1.5;
  width: 100px;
  flex-shrink: 0;
  padding-right: 10px;
}
.c-listpost01 dd {
  line-height: 1.5;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}
.c-listpost01 dd a {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  color: #000;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.c-ttl02 {
  font-size: 2.4rem;
  font-family: HiraginoSansW6, sans-serif;
  font-weight: 600;
  padding-left: 18px;
  line-height: 1.5;
  background: radial-gradient(#008FD4, #008FD4) no-repeat left center;
  background-size: 5px 24px;
}

.p-business {
  font-family: HiraginoSansW3, sans-serif;
}
.p-business .container-low {
  max-width: 1000px;
}
.p-business01 {
  margin-bottom: 75px;
}
.p-business01 figure {
  margin-bottom: 10px;
}
.p-business01 p {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
  text-align: right;
}
.p-business02 {
  margin-bottom: 130px;
}
.p-business02__top {
  text-align: center;
  margin-bottom: 72px;
}
.p-business02__top figure {
  width: 671px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.p-business02__top figure img {
  width: 100%;
}
.p-business02__top p {
  line-height: 2.125;
}
.p-business02__content {
  background: #F4F8FA;
  position: relative;
  padding: 50px;
}
.p-business02__content::before {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  left: -5px;
  bottom: -5px;
  position: absolute;
}
.p-business02__content::after {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  right: -5px;
  bottom: -5px;
  position: absolute;
}
.p-business02__content .ttl {
  font-size: 2.6rem;
  line-height: 1.5;
  color: #3C5267;
  font-family: HiraginoSansW6, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}
.p-business02__content .ttl::before {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  left: -55px;
  top: -55px;
  position: absolute;
}
.p-business02__content .ttl::after {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  right: -55px;
  top: -55px;
  position: absolute;
}
.p-business02__content .ttl__01 {
  color: #899FB4;
  font-size: 2rem;
}
.p-business02__content .txt {
  font-size: 1.4rem;
  line-height: 2.143;
  margin-bottom: 58px;
}
.p-business02__content .caption {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
  text-align: right;
  margin-bottom: 25px;
}
.p-business02__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
}
.p-business02__list__item {
  max-width: 285px;
}
@media only screen and (max-width: 1000px) {
  .p-business02__list__item {
    width: 32%;
  }
}
.p-business03 {
  margin-bottom: 130px;
}
.p-business03 .runed {
  margin-bottom: 65px;
}
.p-business03 .c-ttl02 {
  margin-bottom: 15px;
}
.p-business03__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.p-business03__list a {
  display: flex;
  align-items: center;
  height: 95px;
  padding: 20px;
  font-size: 1.8rem;
  background: #3C5267;
  color: #fff;
  text-align: center;
  justify-content: center;
  width: 317px;
  font-family: HiraginoSansW6, sans-serif;
  font-weight: 600;
  line-height: 1.44;
}
@media only screen and (max-width: 1000px) {
  .p-business03__list a {
    width: 32%;
    padding: 20px 8px;
  }
}
.p-business03__content {
  background: #F4F8FA;
  padding: 50px;
  position: relative;
  margin-bottom: 22px;
}
.p-business03__content::before {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  left: -5px;
  bottom: -5px;
  position: absolute;
}
.p-business03__content::after {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  right: -5px;
  bottom: -5px;
  position: absolute;
}
.p-business03__content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  position: relative;
}
.p-business03__content__top::before {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  left: -55px;
  top: -55px;
  position: absolute;
}
.p-business03__content__top::after {
  content: "";
  background: url(../images/common/img_icon03.svg) no-repeat center;
  width: 10px;
  height: 10px;
  background-size: contain;
  right: -55px;
  top: -55px;
  position: absolute;
}
.p-business03__content__top figure {
  width: 435px;
}
@media only screen and (max-width: 1000px) {
  .p-business03__content__top figure {
    width: 49%;
  }
}
.p-business03__content__top .ttl {
  width: 435px;
}
@media only screen and (max-width: 1000px) {
  .p-business03__content__top .ttl {
    width: 48%;
  }
}
.p-business03__content__top .ttl01 {
  display: block;
  font-size: 2rem;
  font-family: "Sen", sans-serif;
  margin-bottom: 10px;
}
.p-business03__content__top .ttl01::first-letter {
  color: #008FD4;
}
.p-business03__content__top .ttl02 {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: HiraginoSansW6, sans-serif;
  line-height: 1.5;
  display: block;
  padding-bottom: 40px;
  margin-bottom: 30px;
  background: linear-gradient(#008FD4, #008FD4) no-repeat left bottom;
  background-size: 19px 2px;
}
.p-business03__content__top .ttl p {
  font-size: 1.3rem;
  line-height: 2.1;
}
.p-business03__content__top .ttl p span {
  font-size: 1.5rem;
}
.p-business03__content__txt {
  margin-bottom: 60px;
}
.p-business03__content__txt .ttl {
  font-size: 2.2rem;
  font-family: HiraginoSansW6, sans-serif;
  font-weight: 600;
  color: #3C5267;
  line-height: 1.5;
  margin-bottom: 26px;
}
.p-business03__content__txt p {
  font-size: 1.4rem;
  line-height: 2.143;
}
.p-business03__content__txt:last-child {
  margin-bottom: 0;
}
.p-business03 .caption {
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
  text-align: right;
}

/*# sourceMappingURL=business.css.map */
