.cm-desc {
    font-size: 1.4rem;
    margin-top: 4rem;
    line-height: 2;
}

.cm-box {
    width: 100%;
    margin-top: 16rem;
}

.cm-box .cm-title .title {
    font-size: 3.2rem;
    line-height: 1.4;
}

.cm-box .cm-item {
    margin-top: 5rem;
}

.data-list {
    margin-top: 9.5rem;
}

.data-list:first-child {
    margin-top: 15rem;
}

.data-list .data-title .span-title {
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.4;
}

.data-list .data-title .span-title::before {
    content: "";
    width: 0.5rem;
    height: 2.4rem;
    background-color: #008FD4;
    display: inline-block;
    margin-right: 1.5rem;
}

.data-list .list-in-data-list:not(.none)::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px dotted #D0D0D0;
    margin-bottom: 1.5rem;
}

.data-list .list-in-data-list .detail {
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.data-list .list-in-data-list .detail.none {
    display: block;
}

.data-list .list-in-data-list .detail.none p {
    display: flex;
}

.data-list .list-in-data-list .detail .cm-stt {
    margin-right: 1.5rem;
    color: #008FD4;
}

.data-list .list-in-data-list .detail .cm-stt::after {
    content: ".";
    display: inline;
}

.data-list .list-in-data-abc {
    margin-left: 2.5rem;
}

.data-list .list-in-data-abc li {
    display: flex;
    font-size: 1.4rem;
}

.data-list .list-in-data-abc li .cm-abc {
    display: block;
    margin-right: 1.5rem;
    color: #A2A2A2;
}

.data-list .list-in-data-abc li .cm-abc::after {
    content: ".";
    display: inline;
}

.data-list .list-in-data-table tr th {
    color: #008FD4;
    text-align: left;
}

.external-link__block {
    max-width: 340px;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    margin-top: 80px;
    display: block;
    color: #000;
}

.external-link__block h2 {
    /* font-family: 'Sen', sans-serif; */
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.2;
    color: #000;
}

.external-link__block h2:first-letter {
    color: #008FD4;
}

.external-link__block h2 span {
    display: block;
    /* font-family: 'HiraginoSans', sans-serif; */
    font-size: 1.6rem;
    font-weight: 300;
}

.external-link__block:hover {
    opacity: 0.8;
}

.external-link__block:hover .external-link__block__line {
    transform: translateX(7px);
}

.external-link__block__line {
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 10px;
    margin-top: 15px;
    transition: all 0.5s ease;
}

.external-link__block__line::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #000;
}

.external-link__block__line::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 50%;
    right: -2px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 15px solid #000;
    border-bottom: 4px solid transparent;
}

@media screen and (max-width: 767px) {
    .data-list .list-in-data-table tr th {
        min-width: 100px;
    }
}

.data-list.data-flex {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    border-bottom: 1px solid #E6E6E6;
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
}

.data-list.data-flex:first-child {
    margin-top: 10rem;
    border-top: 1px solid #E6E6E6;
}

.data-list.data-flex dt {
    width: 100%;
    max-width: 180px;
    color: #008FD4;
    font-size: 1.6rem;
}

.data-list.data-flex dd {
    font-size: 1.4rem;
    color: #000;
    line-height: 2;
}

@media screen and (max-width: 767px) {
    .data-list.data-flex {
        display: block;
    }
    .data-list.data-flex dt,
    .data-list.data-flex dd {
        margin-top: 1.5rem;
    }
}

.entry-button {
    width: 100%;
}

.entry-button a {
    width: 558px;
    height: 90px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008FD4;
    border: 2px solid #008FD4;
    color: #fff;
    /* font-family: "Sen", sans-serif; */
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.entry-button a:hover {
    background-color: #fff;
    color: #008FD4;
}

.entry-button a:hover::after {
    border-left-color: #008FD4;
}

.entry-button a::after {
    content: "";
    border-left: 6px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 0;
    display: block;
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.bttn-more {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    font-weight: 700;
    right: 0;
    height: 76px;
    width: 76px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* font-family: 'Sen', sans-serif; */
    font-size: 1.3rem;
    padding: 5px;
    height: clamp(40px, 28%, 76px);
    width: clamp(65px, 30%, 76px);
}

.bttn-more span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bttn-more span::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 4px solid transparent;
    border-left: 8px solid white;
    border-bottom: 4px solid transparent;
    margin-left: 5px;
    margin-top: 2px;
}

.c-ttl01 {
    font-size: 2.3rem;
    color: #008FD4;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.87;
}

@media only screen and (max-width: 767px) {
    .c-ttl01 {
        font-size: 1.8rem;
        line-height: 1.7;
        margin-bottom: 20px;
    }
}

.c-listpost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-bottom: 65px;
}

@media only screen and (max-width: 1024px) {
    .c-listpost {
        width: calc(100% + 4rem);
        margin-left: -2rem;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .c-listpost {
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 550px) {
    .c-listpost {
        width: calc(100% + 2rem);
        margin-bottom: 20px;
    }
}

.c-listpost .txt {
    width: 100%;
    margin-bottom: 52px;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 767px) {
    .c-listpost .txt {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.c-listpost>.ttl {
    font-size: 2.2rem;
    line-height: 1.95;
    display: block;
    border-bottom: 1px solid #E6E6E6;
    color: #008FD4;
    margin-bottom: 36px;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .c-listpost>.ttl {
        font-size: 1.8rem;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.c-listpost__item {
    width: 295px;
    background: #F4F8FA;
    margin: 0 2rem;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .c-listpost__item {
        width: calc(33.3% - 4rem);
    }
}

@media only screen and (max-width: 767px) {
    .c-listpost__item {
        width: 100%;
        margin: 0 1rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .c-listpost__item {
        width: 100%;
    }
}

.c-listpost__item .ttl {
    font-size: 2rem;
    color: #3C5267;
    line-height: 1.35;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    padding: 40px 29px 0 29px;
}

@media only screen and (max-width: 767px) {
    .c-listpost__item .ttl {
        font-size: 1.6rem;
        margin-bottom: 12px;
        padding: 30px 15px 0 15px;
    }
}

.c-listpost__item .ttl::before {
    content: "";
    background: url(../images/common/img_icon03.svg) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    left: -5px;
    top: -5px;
    position: absolute;
}

.c-listpost__item .ttl::after {
    content: "";
    background: url(../images/common/img_icon03.svg) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    right: -5px;
    top: -5px;
    position: absolute;
}

.c-listpost__item p:not(.ttl) {
    font-size: 1.3rem;
    line-height: 2;
    letter-spacing: -0.6px;
    padding: 0 29px 25px 29px;
}

@media only screen and (max-width: 767px) {
    .c-listpost__item p:not(.ttl) {
        font-size: 1.2rem;
        padding: 0 15px 25px 15px;
        text-align: justify;
        letter-spacing: 0;
    }
}

.c-listpost__item::before {
    content: "";
    background: url(../images/common/img_icon03.svg) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    left: -5px;
    bottom: -5px;
    position: absolute;
}

.c-listpost__item::after {
    content: "";
    background: url(../images/common/img_icon03.svg) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    right: -5px;
    bottom: -5px;
    position: absolute;
}

.c-listpost__item .c-label {
    width: 92px;
    height: 23px;
    background: #000000;
    color: #72D1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    /* font-family: "Sen", sans-serif; */
    position: absolute;
    left: 0;
    top: 0;
}

.c-listpost__item.img {
    width: 326px;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.c-listpost__item.img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.c-listpost__item.img::after,
.c-listpost__item.img::before {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .c-listpost--img .c-listpost__item {
        width: calc(50% - 4rem);
    }
}

@media only screen and (max-width: 767px) {
    .c-listpost--img .c-listpost__item {
        width: calc(50% - 2rem);
    }
}

@media only screen and (max-width: 550px) {
    .c-listpost--img .c-listpost__item {
        width: calc(100% + 2rem);
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 1024px) {
    .c-listpost--img .c-listpost__item.img {
        width: 500px;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    .c-listpost--img .c-listpost__item.img {
        width: calc(100% + 2rem);
        margin-bottom: 2rem;
    }
}


/*
@----- cai nay la cai flex-box
*/

.flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-box .wrap-item {
    width: 100%;
    max-width: 281px;
    margin-top: 2rem;
}

.flex-box .wrap-item.item--2 {
    max-width: 436px;
}

.flex-box .wrap-item figure figcaption {
    font-weight: 700;
}

.flex-box .wrap-item figure figcaption p {
    font-weight: 400;
}

.flex-box .wrap-item figure figcaption,
.flex-box .wrap-item figure figcaption p {
    font-size: 1.4rem;
    color: #000;
    margin-top: 1.1rem;
}

.flex-box .wrap-item figure figcaption.text-color {
    color: #008FD4;
    line-height: 2;
    letter-spacing: 0.1rem;
    min-height: 6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.flex-box .wrap-item .description {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.9;
    font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
    .flex-box .wrap-item,
    .flex-box .wrap-item.item--2 {
        max-width: calc(50% - 10px);
    }
}

@media screen and (max-width: 767px) {
    .flex-box .wrap-item {
        max-width: 100%;
    }
    .flex-box .wrap-item.item--2 {
        max-width: 100%;
    }
}

.c-box01 {
    padding-bottom: 95px;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .c-box01 {
        padding-bottom: 50px;
    }
}

.c-box01 p:not(.c-ttl01) {
    width: 800px;
    margin: 0 auto;
    line-height: 2.125;
}

@media only screen and (max-width: 767px) {
    .c-box01 p:not(.c-ttl01) {
        width: 100%;
        line-height: 2;
    }
}

.c-box01::after {
    content: "";
    background: url(../images/training/img_icon02.svg) no-repeat center;
    width: 5px;
    height: 71px;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    bottom: -36px;
    position: absolute;
}

@media only screen and (max-width: 767px) {
    .c-box01::after {
        width: 4px;
        height: 60px;
        bottom: -30px;
    }
}