.libary-css .w-h-100 {
    width: 100%;
    height: 100%;
}

.libary-css .w-100 {
    width: 100%;
}

.libary-css .h-100 {
    height: 100%;
}

.libary-css .w-100v {
    width: 100vw;
}

.libary-css .h-100v {
    height: 100vh;
}

.libary-css .wmax {
    max-width: 100%;
}

.libary-css .fontM {
    font-weight: 500;
}

.libary-css .fontB {
    font-weight: 700;
}

.libary-css .font10 {
    font-size: 1rem;
}

.libary-css .font12 {
    font-size: 1.2rem;
}

.libary-css .font13 {
    font-size: 1.3rem;
}

.libary-css .font14 {
    font-size: 1.4rem;
}

.libary-css .font15 {
    font-size: 1.5rem;
}

.libary-css .font18 {
    font-size: 1.8rem;
}

.libary-css .font23 {
    font-size: 2.3rem;
}

.libary-css .font24 {
    font-size: 2.4rem;
}

.libary-css .font28 {
    font-size: 2.8rem;
}

.libary-css img {
    width: auto;
    max-width: 100%;
    display: block;
    width: 100%;
}

.libary-css a {
    color: inherit;
    display: block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.libary-css a:hover {
    opacity: .8;
}

.libary-css button {
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.libary-css button,
.libary-css a {
    outline: none;
}

.libary-css .color-blue {
    color: #008fd4;
}

.libary-css .m-w1160 {
    max-width: 1160px;
}

.libary-css .p-top140 {
    padding-top: 140px;
}

.libary-css .p-bot140 {
    padding-bottom: 140px;
}

.libary-css .flexEnd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.libary-css .m-b105 {
    margin-bottom: 105px;
}

.libary-css .fontSen {
    /* font-family: 'Sen', sans-serif; */
}

.libary-css .textUp {
    text-transform: uppercase;
}

.libary-css .d-block {
    display: block;
}

.libary-css .bg-white {
    z-index: 3;
    position: relative;
}

.libary-css .bg-white::after {
    content: '';
    z-index: -1;
    background-color: white;
    top: 0;
    bottom: -2px;
    right: 0;
    left: 0;
    position: absolute;
}

.libary-css .pd-r {
    padding-right: 20px;
}

.libary-css .pd-l {
    padding-left: 20px;
}

.company-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.company-list {
    max-width: calc(100%/3 - 13.3px);
    width: 100%;
    margin-bottom: 45px;
}

.company-list a {
    position: relative;
}

.company-content {
    margin-top: 20px;
    line-height: 2.5rem;
}

.company-content .text-en {
    line-height: 1.4;
}

.company-content p {
    margin-top: 15px;
}

.footer {
    margin-top: 90px;
}

@media screen and (max-width: 1023px) {
    .company .break-sp {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .company-list {
        max-width: calc(50% - 10px);
        margin: 0 auto 30px;
        padding: 0 5px;
        min-width: 280px;
    }
    .company-content {
        margin-top: 10px;
    }
    .company-content p {
        margin-top: 8px;
    }
    .footer {
        margin-top: 30px;
    }
    .libary-css .font24 {
        font-size: 2rem;
    }
}