.sitemap {
    width: 100%;
    margin-top: 10rem;
}

.sitemap__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sitemap__item .item {
    width: 100%;
    max-width: 35%;
    margin-top: 5.5rem;
}

.sitemap__item .item:nth-child(3n+1) {
    max-width: 45%;
}

.sitemap__item .item:nth-child(3n) {
    max-width: 20%;
}

.sitemap__item .item ul li a {
    color: #000;
    display: block;
    line-height: 1.8;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.sitemap__item .item ul li a:hover {
    opacity: 0.75;
}

@media screen and (max-width: 768px) {
    .sitemap__item .item {
        max-width: 50%;
    }
    .sitemap__item .item:nth-child(3n+1),
    .sitemap__item .item:nth-child(3n) {
        max-width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .sitemap__item .item {
        max-width: 100%;
    }
    .sitemap__item .item:nth-child(3n+1),
    .sitemap__item .item:nth-child(3n) {
        max-width: 100%;
    }
}

.sitemap .sitemap__mt {
    margin-bottom: 2.5rem;
}

.sitemap .sitemap__desc {
    margin-bottom: 4.5rem;
}

.sitemap .sitemap__mt,
.sitemap .sitemap__desc {
    display: block;
    font-size: 1.5rem;
    font-family: "Sen", sans-serif;
    color: #000;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sitemap .sitemap__mt:hover,
.sitemap .sitemap__desc:hover {
    opacity: 0.75;
}

.sitemap .sitemap__title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.sitemap .sitemap__title:not(.not_me) {
    color: #008FD4;
}