@charset 'UTF-8';


.welfare{
	.p-training__01{
		margin-bottom: 115px;
	}
	.pick-up{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__child{
			max-width: calc((100% - 116px) / 3);
			width: 100%;
			background-color: #F4F8FA;
			position: relative;
			z-index: 0;
		}
	}
}