@charset 'UTF-8';


.welfare{
	.p-training__01{
		margin-bottom: 115px;
	}
	.pick-up{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 130px;
		&__child{
			max-width: calc((100% - 116px) / 3);
			width: 100%;
			background-color: #F4F8FA;
			position: relative;
			z-index: 0;
		}
	}
	.line-up{
		&__list{
			margin-top: 80px;
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			width: calc(100% + 60px);
			flex-flow: row wrap;
			&__child{
				max-width: calc((100% - 120px) / 2);
				width: 100%;
				margin-right: 60px;
				margin-bottom: 100px;
				p.title{
					font-family: 'Sen', sans-serif;
					background-color: #000;
					color: #72D1FF;
					font-weight: 400;
					width: max-content;
					display: table;
					padding: 0 10px;
					line-height: 2;
					font-size: 1.4rem;
					span{
						font-weight: bold;
					}
				}
				.box-detail{
					margin-bottom: 25px;
					padding-top: 10px;
					border-top: 1px solid #E6E6E6;
					min-height: 110px;
					h2{
						font-weight: bold;
						font-size: 2.2rem;
						line-height: 2.5;
					}
					p{
						font-weight: 300;
						font-size: 1.4rem;
					}
				}
				.box-comment{
					background-color: #F4F8FA;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					padding: 40px 35px 35px 30px;
					figure{
						max-width: 120px;
						width: 100%;
						margin-right: 20px;
						border-radius: 50%;
						overflow: hidden;
					}
					&__text{
						max-width: calc(100% - 100px);
						width: 100%;
						h3{
							font-family: 'Sen', sans-serif;
							font-weight: bold;
							font-size: 2rem;
							color: #008FD4;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}