@charset "UTF-8";
@import 'functions.scss';
body {
    font-family: "Hiragino Sans", "ヒラギノ角ゴシック" "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

body>main {
    -ms-overflow-x: hidden;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}

@font-face {
    font-family: HiraginoSans, sans-serif;
    src: url("../assets/plugins/fonts/HiraginoSansGBW6.otf");
}

$font_Sen :'Sen',
sans-serif;
$font_HiraginoSans :HiraginoSans,
sans-serif;
.nav {
    width: 100%;
    height: 6rem;
    display: flex;
    border-bottom: 1px solid #BABABA;
    align-items: center;
    background-color: #fff;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1024;
    transition: all .3s ease;
    @include laptop {
        padding: 0 2rem;
    }
    &-brand {
        a {
            display: block;
            width: 100%;
            max-width: 10.6rem;
            min-width: 10.6rem;
            transition: all .3s ease;
            &:hover {
                opacity: .75;
            }
            img {
                width: 100%;
            }
        }
    }
    .navbar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @include ipadpro {
            position: fixed;
            height: calc(100vh - 60px);
            top: 6rem;
            right: 0;
            max-width: 320px;
            background-color: #fff;
            visibility: hidden;
            transform: translateX(100%);
            transition: all .5s ease;
            &.active {
                // display: none;
                visibility: visible;
                transform: translateX(0%);
            }
        }
        @include screen640 {
            max-width: 100%;
        }
    }
    .mark {
        position: fixed;
        top: 6rem;
        left: 0;
        width: 100%;
        height: calc(100% - 6rem);
        z-index: -2;
        background-color: rgba(#000, .5);
        visibility: hidden;
        // transition: all .3s ease;
        &.active {
            visibility: visible;
        }
    }
    .menu {
        display: flex;
        height: 6rem;
        position: relative;
        z-index: 1;
        &-item {
            margin: 0 1rem;
            .nav-link {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 1rem;
                color: #000;
                // font-family: HiraginoSans, sans-serif;
                font-weight: 500;
            }
            &.active {
                .nav-link {
                    color: #008FD4;
                }
            }
        }
        @include ipadpro {
            width: 100%;
            height: 100%;
            flex-direction: column;
            &-item {
                margin: 1rem 1rem;
                background-image: linear-gradient(0deg, #008FDA 0%, #008FDA 100%);
                background-repeat: no-repeat;
                background-position: 0% 87%;
                background-size: 0% 2px;
                transition: all .3s ease;
                &:hover,
                &.active {
                    background-size: 100% 2px;
                }
                .nav-link {
                    padding: 1rem;
                }
            }
        }
        .menuline {
            width: 0;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 1px;
            display: block;
            background-color: #008FD4;
            pointer-events: none;
            user-select: none;
            transition: all .3s ease;
            @include ipadpro {
                display: none;
                visibility: hidden;
            }
        }
    }
}

.hamburger {
    position: fixed;
    z-index: 1024;
    display: none;
    top: 1.3rem;
    right: 2rem;
    min-width: 3rem;
    width: 3rem;
    height: 2rem;
    transform-origin: center;
    transition: all 0.3s ease;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    @include ipadpro {
        display: block;
        width: 3.4rem;
        height: 3.4rem;
        border: 1px solid #000;
        margin: 0;
    }
    span {
        height: 1px;
        background-color: #000;
        right: 8px;
        position: absolute;
        transition: all 0.3s ease;
        &:nth-of-type(1) {
            top: 10px;
            width: 17px;
        }
        &:nth-of-type(2) {
            top: 15px;
            width: 15px;
        }
        &:nth-of-type(3) {
            top: 20px;
            width: 10px;
        }
    }
    &:hover {
        opacity: .75;
        span {
            width: 17px;
        }
    }
    &.active {
        span {
            width: 17px;
            &:nth-of-type(1) {
                top: 15px;
                transform: rotate(135deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                top: 15px;
                transform: rotate(-135deg);
            }
        }
    }
}

.main {
    margin-top: 6rem;
    overflow: hidden;
}

.hero {
    width: 100%;
    figure {
        width: 100%;
        position: relative;
        figcaption {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            h2 {
                // font-family: HiraginoSans;
                font-size: 1.8rem;
                color: #fff;
                line-height: 1.4;
                span {
                    font-family: $font_Sen;
                    font-weight: 700;
                    font-size: 5rem;
                    display: block;
                }
            }
        }
    }
}

.cm-title {
    .title {
        font-family: $font_Sen;
        font-weight: 700;
        font-size: 3.8rem;
        color: #000;
        text-transform: uppercase;
        line-height: .7;
        .first-letter {
            color: #008FD4;
        }
    }
    &+.lead {
        margin-top: 2rem;
    }
    &+.cm-line {
        margin-top: 3.5rem;
    }
}

.other {
    width: 1164px;
    max-width: 100%;
    margin: 0 auto;
    @include ipadpro {
        padding: 0 20px;
    }
    &-title {
        h3 {
            // margin-bottom: 3.5rem;
        }
    }
    &-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .other-box {
            width: 100%;
            max-width: calc(50% - 12px);
            margin-top: 2.4rem;
            transition: all .3s ease;
            &:hover {
                opacity: .75;
            }
            a {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
            }
            figure {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #000;
                    border: 1px solid #707070;
                    opacity: .3;
                    z-index: 0;
                }
            }
            figcaption {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-left: 4rem;
                // font-family: $font_HiraginoSans;
                font-size: 1.3rem;
                color: #fff;
                line-height: 1.4;
                span {
                    font-weight: 700;
                    text-transform: uppercase;
                    display: block;
                    font-size: 2rem;
                    font-family: $font_Sen;
                }
            }
            .more-button {
                font-family: $font_Sen;
                font-size: 1.3rem;
                font-weight: 700;
                color: #fff;
                position: absolute;
                z-index: 1;
                top: 50%;
                right: 4rem;
                transform: translateY(-50%);
                &::after {
                    content: '';
                    border-left: 5px solid #fff;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-top: 5px solid transparent;
                    display: block;
                    position: absolute;
                    right: -.4rem;
                    top: 0;
                    transform: translate(100%, 2px);
                }
            }
        }
        @include mobile {
            padding: 0 2rem;
            .other-box {
                max-width: 100%;
                height: 16rem;
                figure,
                figure img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.cm-line {
    width: 100%;
    display: block;
    height: 1px;
    background-color: #E6E6E6;
    position: relative;
    &::before {
        content: '';
        width: 1.8rem;
        height: 2px;
        background-color: #008FD4;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
    }
    &.low {
        &::after {
            content: '';
            width: 50vw;
            height: 1px;
            background-color: #E6E6E6;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(100%);
        }
    }
}

.footer {
    width: 100%;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 13.5rem;
    &-container {
        width: 1164px;
        max-width: 100%;
        margin: 0 auto;
        .cm-line {
            top: -1px;
        }
        .wrap-flex {
            margin-top: 8rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .flex-item {
                width: 100%;
                &.first-child {
                    max-width: 40%;
                    .footer-logo {
                        a {
                            width: 100%;
                            max-width: 14.1rem;
                            display: block;
                            margin-bottom: 3.5rem;
                            img {
                                width: 100%;
                            }
                        }
                        &+p {
                            margin-bottom: 2.5rem;
                        }
                    }
                    p {
                        // font-family: $font_HiraginoSans;
                        font-size: 1.3rem;
                        color: #000;
                        line-height: 1;
                        margin-bottom: 1.5rem;
                    }
                }
                &.second-child {
                    max-width: 60%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    .item {
                        width: 100%;
                        max-width: calc((100% / 4) - 10px);
                        margin-bottom: 4rem;
                        .title {
                            font-size: 1.7rem;
                            line-height: 1;
                            display: block;
                            &+ul {
                                margin-top: 1.5rem;
                            }
                        }
                        ul {
                            .main-title {
                                margin-bottom: 2rem;
                            }
                            li a {
                                display: block;
                                font-size: 1.2rem;
                                color: #000;
                                margin-bottom: 1.5rem;
                                transition: all .3s ease;
                                &:hover {
                                    opacity: .75;
                                }
                            }
                        }
                    }
                }
            }
            .combo-icon {
                width: 100%;
                max-width: 31rem;
                margin-top: 3.5rem;
                margin-bottom: 4.5rem;
            }
            .unlock-button {
                background-color: #000;
                width: 100%;
                max-width: 20rem;
                height: 5rem;
                display: flex;
                color: #fff;
                align-items: center;
                justify-content: center;
                // font-family: $font_HiraginoSans;
                font-size: 1.3rem;
                transition: all .3s ease;
                &:hover {
                    opacity: .75;
                }
                img {
                    margin-right: 1.4rem;
                }
            }
        }
    }
    &+.container-low>.copy-right {
        // font-family: $font_HiraginoSans;
        font-size: 1rem;
        display: block;
        text-align: right;
        margin: 2.5rem 0;
    }
    @include mobile {
        &-container {
            padding: 0 2rem;
        }
    }
}