@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// breakpoint
//============================================
@mixin breakpoint($point) {
	@if $point == tablets {
		@media only screen and (max-width: 1000px) { @content ; }
	}
	@else if $point == sp {
		@media only screen and (max-width: 767px) { @content ; }
	}
}
//font-family: HiraginoSansW3, sans-serif;
//font-family: HiraginoSansW6, sans-serif;

.c-listpost01{
    dl{
        display: flex;
        background: #fff;
        padding: 20px 32px 18px 32px;
        margin-bottom: 5px;
    }
    dt{
        color: #7C7C7C;
        font-size: 1.6rem;
        font-family: "Sen", sans-serif;
        line-height: 1.5;
        width: 100px;
        flex-shrink: 0;
        padding-right: 10px;
    }
    dd{
        line-height: 1.5;
        width: calc(100% - 100px);
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        a{
            display: inline-block;
            font-family: 'Noto Sans JP', sans-serif;
            line-height: 1.5;
            font-size: 1.3rem;
            color: #000;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap; 
            text-overflow: ellipsis;
            width: 100%;
        }
    }
}
.c-ttl02{
    font-size: 2.4rem;
    font-family: HiraginoSansW6, sans-serif;
    font-weight: 600;
    padding-left: 18px;
    line-height: 1.5;
    background: radial-gradient(#008FD4,#008FD4) no-repeat left center;
    background-size: 5px 24px;
}

.p-business{
    font-family: HiraginoSansW3, sans-serif;
    .container-low{
        max-width: 1000px;
    }
    &01{
        margin-bottom: 75px;
        figure{
            margin-bottom: 10px;
        }
        p{
            font-size: 1.2rem;
            line-height: 1.5;
            width: 100%;
            text-align: right;
        }
    }
    &02{
        margin-bottom: 130px;
        &__top{
            text-align: center;
            margin-bottom: 72px;
            figure{
                width: 671px;
                margin: 0 auto;  
                margin-bottom: 45px;              
                img{
                    width: 100%;
                }
            }
            p{
                line-height: 2.125;
            }
        }
        &__content{
            background: #F4F8FA;
            position: relative;
            padding: 50px;
            &::before {
                content: "";
                background: url(../images/common/img_icon03.svg) no-repeat center;
                width: 10px;
                height: 10px;
                background-size: contain;
                left: -5px;
                bottom: -5px;
                position: absolute;
            }
            &::after {
                content: "";
                background: url(../images/common/img_icon03.svg) no-repeat center;
                width: 10px;
                height: 10px;
                background-size: contain;
                right: -5px;
                bottom: -5px;
                position: absolute;
            }
            .ttl{
                font-size: 2.6rem;
                line-height: 1.5;
                color: #3C5267;
                font-family: HiraginoSansW6, sans-serif;
                font-weight: 600;
                text-align: center;
                margin-bottom: 25px;
                position: relative;
                &::before {
                    content: "";
                    background: url(../images/common/img_icon03.svg) no-repeat center;
                    width: 10px;
                    height: 10px;
                    background-size: contain;
                    left: -55px;
                    top: -55px;
                    position: absolute;
                }
                &::after {
                    content: "";
                    background: url(../images/common/img_icon03.svg) no-repeat center;
                    width: 10px;
                    height: 10px;
                    background-size: contain;
                    right: -55px;
                    top: -55px;
                    position: absolute;
                }
                &__01{
                    color: #899FB4;
                    font-size: 2rem;
                }
            }
            .txt{
                font-size: 1.4rem;
                line-height: 2.143;
                margin-bottom: 58px;
            }
            .caption{
                font-size: 1.2rem;
                line-height: 1.5;
                width: 100%;
                text-align: right;
                margin-bottom: 25px;
            }
        }
        &__list{
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 10px;            
            &__item{
                max-width: 285px;
                @include breakpoint(tablets){
                    width: 32%;
                }
            }
        }
    }
    &03{
        margin-bottom: 130px;
        .runed{
            margin-bottom: 65px;
        }
        .c-ttl02{
            margin-bottom: 15px;
        }
        &__list{
            display: flex;
            justify-content: space-between;
            margin-bottom: 75px;
            a{
                display: flex;
                align-items: center;
                height: 95px;
                padding: 20px;
                font-size: 1.8rem;
                background: #3C5267;
                color: #fff;
                text-align: center;
                justify-content: center;
                width: 317px;
                font-family: HiraginoSansW6, sans-serif;
                font-weight: 600;
                line-height: 1.44;
                @include breakpoint(tablets){
                    width: 32%;
                    padding: 20px 8px;
                }
            }
        }
        &__content{
            background: #F4F8FA;
            padding: 50px;
            position: relative;
            margin-bottom: 22px;
            &::before {
                content: "";
                background: url(../images/common/img_icon03.svg) no-repeat center;
                width: 10px;
                height: 10px;
                background-size: contain;
                left: -5px;
                bottom: -5px;
                position: absolute;
            }
            &::after {
                content: "";
                background: url(../images/common/img_icon03.svg) no-repeat center;
                width: 10px;
                height: 10px;
                background-size: contain;
                right: -5px;
                bottom: -5px;
                position: absolute;
            }
            &__top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 45px;
                position: relative;
                &::before {
                    content: "";
                    background: url(../images/common/img_icon03.svg) no-repeat center;
                    width: 10px;
                    height: 10px;
                    background-size: contain;
                    left: -55px;
                    top: -55px;
                    position: absolute;
                }
                &::after {
                    content: "";
                    background: url(../images/common/img_icon03.svg) no-repeat center;
                    width: 10px;
                    height: 10px;
                    background-size: contain;
                    right: -55px;
                    top: -55px;
                    position: absolute;
                }
                figure{
                    width: 435px;
                    @include breakpoint(tablets){
                        width: 49%;
                    }
                }
                .ttl{
                    width: 435px;
                    @include breakpoint(tablets){
                        width: 48%;
                    }
                    &01{
                        display: block;
                        font-size: 2rem;
                        font-family: "Sen", sans-serif;
                        margin-bottom: 10px;
                        &::first-letter {
                            color: #008FD4;
                        }
                    }
                    &02{
                        font-size: 2.6rem;
                        font-weight: 600;
                        font-family: HiraginoSansW6, sans-serif;
                        line-height: 1.5;
                        display: block;
                        padding-bottom: 40px;
                        margin-bottom: 30px;
                        background: linear-gradient(#008FD4,#008FD4) no-repeat left bottom;
                        background-size: 19px 2px;
                    }
                    p{
                        font-size: 1.3rem;
                        line-height: 2.1;
                        span{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &__txt{
                margin-bottom: 60px;
                .ttl{
                    font-size: 2.2rem;
                    font-family: HiraginoSansW6, sans-serif;
                    font-weight: 600;
                    color: #3C5267;
                    line-height: 1.5;
                    margin-bottom: 26px;
                }
                p{
                    font-size: 1.4rem;
                    line-height: 2.143;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }            
        }
        .caption{
            font-size: 1.2rem;
            line-height: 1.5;
            width: 100%;
            text-align: right;
        }
    }
}

