mixin contents()
	<main class="main career">
		<section class="hero">
			<figure>
				<img src="#{path}images/career/img_banner.jpg" alt="中途採用情報">
				<figcaption>
					<h2 class="inview fadeUp">
						<span>CAREER</span> 中途採用情報
					</h2>
				</figcaption>
			</figure>
		</section>
		<div class="office__title inview fadeUp">
			<div class="container">
				<h3 class="cm-title"><span class="title">JOB CATEGORY</span></h3>
				<span class="lead">募集職種一覧</span>
			</div>
			<div class="cm-block-line">
				<span class="cm-line"></span>
			</div>
		</div>
		<div class="libary-css">
			<div class="container">
				<div class="career-bulletin inview fadeUp">
					<a href="#link">
						<div class="career-box">
							<dl class="career-dl">
								<dt class="career-dt">自動車開発設計エンジニア</dt>
								<dd class="career-dd">
									<p class="lineOne">
										<span class="box-blue">配属</span> ○○株式会社開発設計課
									</p>
									<p class="lineTwo">
										<span class="box-blue">雇用形態</span> 正社員
									</p>
								</dd>
							</dl>
							<div class="recruit-more bttn-more">
								<span>more</span>
							</div>
						</div>
					</a>
				</div>
				<div class="career-bulletin inview fadeUp">
					<a href="#link">
						<div class="career-box">
							<dl class="career-dl">
								<dt class="career-dt">自動車開発設計エンジニア</dt>
								<dd class="career-dd">
									<p class="lineOne">
										<span class="box-blue">配属</span> ○○株式会社開発設計課
									</p>
									<p class="lineTwo">
										<span class="box-blue">雇用形態</span> 正社員
									</p>
								</dd>
							</dl>
							<div class="recruit-more bttn-more">
								<span>more</span>
							</div>
						</div>
					</a>
				</div>
				<div class="career-bulletin inview fadeUp">
					<a href="#link">
						<div class="career-box">
							<dl class="career-dl">
								<dt class="career-dt">自動車開発設計エンジニア</dt>
								<dd class="career-dd">
									<p class="lineOne">
										<span class="box-blue">配属</span> ○○株式会社開発設計課
									</p>
									<p class="lineTwo">
										<span class="box-blue">雇用形態</span> 正社員
									</p>
								</dd>
							</dl>
							<div class="recruit-more bttn-more">
								<span>more</span>
							</div>
						</div>
					</a>
				</div>
				<div class="career-bulletin inview fadeUp">
					<a href="#link">
						<div class="career-box">
							<dl class="career-dl">
								<dt class="career-dt">自動車開発設計エンジニア</dt>
								<dd class="career-dd">
									<p class="lineOne">
										<span class="box-blue">配属</span> ○○株式会社開発設計課
									</p>
									<p class="lineTwo">
										<span class="box-blue">雇用形態</span> 正社員
									</p>
								</dd>
							</dl>
							<div class="recruit-more bttn-more">
								<span>more</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>