mixin contents()
	<main class="main recruit">
		<section class="hero">
			<figure>
				<img src="#{path}images/recruit/img_banner.jpg" alt="採用情報">
				<figcaption>
					<h2 class="inview fadeUp">
						<span>RECRUIT</span> 採用情報
					</h2>
				</figcaption>
			</figure>
		</section>
		<div class="libary-css recruit">
			<div class="container-low">
				<p class="recruit-linehead inview fadeUp">BEXでは一緒に働いてくださる方を募集しています。<br> お気軽にエントリーください。</p>
				<ul class="recruit-lists">
					<li class="recruit-list">
						<div class="inview fadeUp">
							<a href="#link" class="recruit-list-wrap">
								<figure class="recruit-img">
									<img src="#{path}images/recruit/img_photo1.jpg" alt="新卒採用情報">
									<div class="recruit-more bttn-more">
										<span>more</span>
									</div>
								</figure>
							</a>
							<h3 class="recruit-h3">
								<span class="text-en">Fresher</span>
								<span class="text-nihon">新卒採用情報</span>
							</h3>
						</div>
					</li>
					<li class="recruit-list">
						<div class="inview fadeUp">
							<a href="#{path}career/" class="recruit-list-wrap">
								<figure class="recruit-img">
									<img src="#{path}images/recruit/img_photo2.jpg" alt="中途採用情報">
									<div class="recruit-more bttn-more">
										<span>more</span>
									</div>
								</figure>
							</a>
							<h3 class="recruit-h3">
								<span class="text-en">career</span>
								<span class="text-nihon">中途採用情報</span>
							</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>